#scenery{
  height: 40vh;
  background-color: rgb(218, 168, 168);
}
#description{
  height: 25vh;
  background-color: rgb(146, 108, 141);
}
#answer{
  height: 25vh;
  background-color: rgb(165, 165, 147);
}
.scenery-item{
  background-repeat: no-repeat;
  /* background-size: cover; */
}
/* .scenery-item{
  width: 50px;
} */

.un{
  height: 50vh;
  padding: 10px;
}